<div th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml">

<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5><a class="my-0 mr-md-auto font-weight-normal" href="/home"> Гланая</a></h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="/peoples">Список отслежиываемых</a>
        <a class="p-2 text-dark" href="/adlist">Добавить</a>
        <a class="p-2 text-dark" href="/sign-in">Авторизация</a>

    </nav>
</div>

</div>