<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title> Список </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<header th:insert="defolt/header :: header"></header>
    <h1>Список отслеживаемых</h1>
    <div th:each="el : ${employees}" class="alert alert-info mt-2">
    <h4 th:text="'ID: ' + ${el.id}"></h4>
    <h4 th:text="'smpId: ' + ${el.smpId}"></h4>
    <h4 th:text="'department: ' + ${el.departmentId}"></h4>
    <form th:action="'/list/delete/' + ${el.id}" method="post">
        <button th:href="'/list/delete/' + ${el.id}" class="btn btn-danger">Delete</button>
    </form>
</div>
</body>
</html>